<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About Us Page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.10.2/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="our-team">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="text-center">Meet Our Invincible Team</h2>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="box-bg">
              <div class="client-img">
                <img src="assets/images/teena.png" class="img-fluid" />
              </div>
              <div class="details">
                <h4 class="text-center">Pavithran Siva Kumar</h4>
                <h6 class="text-center">Project Manager/Developer</h6>
                <p class="text-center">
                  <!-- Full Stack Developer with almost 4 years of experience in web development and have demonstrated a history of working with the workforce management system domain.
                  I try to be a driving force behind the success of every key project or program  that my organization seeks to accomplish. Day to day, I try to align projects with business goals, construct detailed work plans, manage teams, achieve milestones, and communicate the result with my team members. -->
                </p>
              </div>
              <!-- <div class="social-links">
                <h4 class="text-center">Follow Me</h4>
                <ul>
                  <li>
                    <a href="https://www.linkedin.com/in/teenabraham"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </li>
                </ul>
              </div> -->
            </div>
          </div>

          <div class="col-sm-6 col-lg-4">
            <div class="box-bg">
              <div class="client-img">
                <img src="assets/images/vishnu.jpg" lass="img-fluid" />
              </div>
              <div class="details">
                <h4 class="text-center">Vishnu Rajendran Pillai</h4>
                <h6 class="text-center">Quality Assurance Analyst/Technical Artist</h6>
                <!-- <p class="text-center">
                  A result-oriented dynamic IT professional with 5 years of experience working extensively on API and user interface testing. Being a test automation engineer, I get to play the role of a tester and developer at the same time.
                  One thing that always excites me is that playing the role of a tester is like detective work, with the exception that you do not know what crime was committed until you find it.
                </p> -->
              </div>
              <!-- <div class="social-links">
                <h4 class="text-center">Follow Me</h4>
                <ul>
                  <li>
                    <a href="https://www.linkedin.com/in/connectvishnur/"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </li>
                </ul>
              </div> -->
            </div>
          </div>

          <div class="col-sm-6 col-lg-4">
            <div class="box-bg">
              <div class="client-img">
                <img src="assets/images/david.jpeg" class="img-fluid" />
              </div>
              <div class="details">
                <h4 class="text-center">Navya Bhavana Kukkapalli</h4>
                <h6 class="text-center">Database Programmer</h6>
                <!-- <p class="text-center">
                  Cybersecurity Professional in search for a deeper
                  understanding on software intricacies to be able to generate
                  secure environments in today's ultra interconnected world.
                </p> -->
              </div>
              <!-- <div class="social-links">
                <h4 class="text-center">Follow Me</h4>
                <ul>
                  <li>
                    <a href="https://www.linkedin.com/in/dagutierrez"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </li>
                </ul>
              </div> -->
            </div>
          </div>

          <div class="col-sm-6 col-lg-4">
            <div class="box-bg">
              <div class="client-img">
                <img src="assets/images/farhan.jpeg" class="img-fluid" />
              </div>
              <div class="details">
                <h4 class="text-center">Sohyeon Song</h4>
                <h6 class="text-center">Front End Developer</h6>
                <!-- <p class="text-center">
                  The inception of my career saw me as an IT engineer in
                  technical roles like computer networks & project engineer. As
                  years progressed, I fell in love with software development
                  both front-end and back-end in the web & mobile digital
                  sphere. I am a passionate believer in digital space and
                  familiar with several Languages & Frameworks like Oracle
                  PL/SQL, MongoDB, MySQL, Java, C#, NodeJS, ExpressJS, .NET
                  Framework, .NET Core, ASP.NET, HTML, CSS, JavaScript.
                </p> -->
              </div>
              <!-- <div class="social-links">
                <h4 class="text-center">Follow Me</h4>
                <ul>
                  <li>
                    <a href="https://www.linkedin.com/in/farhan876/"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </li>
                </ul>
              </div> -->
            </div>
          </div>

          <div class="col-sm-6 col-lg-4">
            <div class="box-bg">
              <div class="client-img">
                <img src="assets/images/vimal.jpeg" class="img-fluid" />
              </div>
              <div class="details">
                <h4 class="text-center">Alim Kutchhi</h4>
                <h6 class="text-center">Lead Software Engineer</h6>
                <!-- <p class="text-center">
                  A result oriented self made software developer with strong interest in solving real life problems using modern day technologies. Being a self made computer programmer, I always enjoy the fun in understanding and learning modern ways to solve problems.
                  I consider my profession to be super exciting as my challenges keeps changing every hour. Being a software developer, I always make sure that the product that I develop meets all the requirements of every kinds of my clients.
                  With strong determination to make use of free time useful, I stepped into the field of full stack development using REACT.js and Node.js Technologies.
                </p> -->
              </div>
              <!-- <div class="social-links">
                <h4 class="text-center">Follow Me</h4>
                <ul>
                  <li>
                    <a href="https://www.linkedin.com/in/vimal-jose-mathew-8a7684180"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                </ul>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
