<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 align-items-center justify-content-center">
                    <div class="col-lg-8 col-xl-7 col-xxl-6">
                        <div class="my-5 text-center text-xl-start">
                            <h1 class="display-5 fw-bolder text-white mb-2">ReviewAnalyzer is a platform created to run Anaysis on reviews and create Reports

                            </h1>
                            <p class="lead fw-normal text-white-50 mb-4">Create a space for users to have a voice and help easily collect frequent feedback for any engagement or feedback initiative.

                            </p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" routerLink="/pubsurveys/list">Get Started <span class="sr-only">(current)</span></a>
                                <a class="btn btn-outline-light btn-lg px-4" routerLink="/aboutus">About Us <span class="sr-only">(current)</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="/assets/images/survey-img3.png" alt="..." /></div>
                </div>
            </div>
        </header>
        <!-- Features section-->
        <section class="py-5" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Explore our services</h2></div>
                    <div class="col-lg-8">
                        <div class="row gx-5 row-cols-1 row-cols-md-2">
                            <div class="col mb-5 h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                                <h2 class="h5">Human resources</h2>
                                <p class="mb-0">These questions and quizzes will allow you to assess employee engagement, worker satisfaction, and conduct effective workplace stress feedback research.</p>
                            </div>
                            <div class="col mb-5 h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                                <h2 class="h5">Diversity, Equity and Inclusion</h2>
                                <p class="mb-0">Tools to improve the diversity of the workforce, equity in development and growth opportunities, and the creation of inclusive environments.</p>
                            </div>
                            <div class="col mb-5 mb-md-0 h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                <h2 class="h5">Customer Satisfaction</h2>
                                <p class="mb-0">Customers have expectations about the companies they buy services or products from, find out what it is, what you should pay attention to and how to do a customer satisfaction review.</p>
                            </div>
                            <div class="col h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                <h2 class="h5">Launch a new product</h2>
                                <p class="mb-0">Know the degree of acceptance that the products you offer to the market have, investigate the characteristics that customers value most and all the information to position what you sell.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </main>


</body>
