<p>navigation works!</p>
<div class="container">

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/Movie.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Movies</h5>
            <p class="card-text">Review movies here.</p>
            <a href="/survey-mgmt/movielist" class="btn btn-primary">Review</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/Products.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Products</h5>
            <p class="card-text">Review prodts here.</p>
            <a href="/survey-mgmt/productlist" class="btn btn-primary">Review</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/Places.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Places</h5>
            <p class="card-text">Review places here.</p>
            <a href="/survey-mgmt/placelist" class="btn btn-primary">Review</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/Books.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Books</h5>
            <p class="card-text">Review books here.</p>
            <a href="/survey-mgmt/booklist" class="btn btn-primary">Review</a>
        </div>
    </div>

</div>